@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* custom css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root{
    --red-color: rgb(229, 9, 20);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0,0,0);
    --light-white-color: rgba(255, 255, 255, 0.7);
    --light-black-color: rgba(0, 0, 0, 0.8);
    --font-xl: 2.5rem;
    --font-lg: 2rem;
    --font-md: 1.413rem;
    --font-sm: 1;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--light-black-color);
}
.btn{
    color: var(--white-color);
    background-color: var(--red-color);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn:hover{
    filter: brightness(0.9);
}
input{
    width: 80%;
    min-height: 60px;
    border: none;
    outline: none;
    background-color: var(--light-black-color);
    color: var(--white-color);
    font-size: var(--font-sm);
    flex: 1;
    padding-left: 15px;
    border-radius: 5px;
    margin: 0 auto;
}
input:focus{
    outline: 2px solid var(--white-color);
}
a{
    text-decoration: none;
    color: var(--light-white-color);
    transition: all .3s ease;
}
a:hover{
    text-decoration: underline;
}
/* header section style */
header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;   
}
header nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h1{
    text-transform: uppercase;
    font-size: var(--font-xl);
    font-weight: 700;
    color: var(--red-color);
}
nav select{
    background-color: var(--light-black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    outline: none;
    padding: 5px 8px;
    border-radius: 3px;
    margin-right: 15px;
}
nav .btn{
    padding: 5px 10px;
    border-radius: 3px;
}
header .header-content{
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header-content p{
    color: var(--white-color);
    text-align: center;
}
.header-content p:nth-child(1){
    font-size: var(--font-xl);
    font-weight: 800;
    margin-bottom: 1rem;
}
.header-content p:nth-child(2){
    font-size: var(--font-md);
}
.header-content p:nth-child(2){
    font-size: var(--font-sm);
}
.header-content div{
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 592px;
    gap: 10px;
}
.header-content .btn{
    border-radius: 5px;
    padding: 0 15px;
    font-size: var(--font-md);
}

/* End header section style */

/* main section style */
.body-section{
    background-color: var(--black-color);
    padding: 4rem 3rem;
    color: var(--white-color);
    margin-bottom: 10px;
    display: flex;
}
.body-section img{
    width: 100%;
}
.body-section .content{
    width: 50%;
    margin: auto;
}
.content h3{
    font-size: var(--font-xl);
    font-weight: 900;
    margin-bottom: 10px;
}
.content p{
    font-size: var(--font-md);
    font-weight: 600;
}

.mobile{
    position: relative;
}
.download{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    border: 1px solid var(--white-color);
    display: flex;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-black-color);
}
.download p span{
    color: #00f;
}
.download img{
    width: 50px;
}

.faq-section{
    background-color: var(--black-color);
    padding: 4rem 3rem;
    color: var(--white-color);
    margin-bottom: 10px;
    text-align: center;
}
.faq-section h3{
    font-size: var(--font-xl);
    font-weight: 900;
    margin-bottom: 10px;
}
.faq-section .btn-1{
    display:block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: var(--font-md);
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    cursor: pointer;
}
.faq-section p{
    font-size: var(--font-md);
    margin: 20px 0;
}
.faq-section div{
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 592px;
    gap: 10px;
}
.faq-section .btn{
    border-radius: 5px;
    padding: 0 15px;
    font-size: var(--font-md);
}
/* End main section style */

/* footer section style */
footer{
    background-color: var(--black-color);
    padding: 4rem 2rem;
    color: var(--light-white-color);
}
footer .grid{
    margin: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}
footer select{
    background-color: var(--light-black-color);
    color: var(--light-white-color);
    border: 1px solid var(--light-white-color);
    outline: none;
    padding: 5px 8px;
    border-radius: 3px;
    margin: 10px 0;
}
/* End footer section style */